<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加考试</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/hAdmin/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        /* 图标居中 */
        .bi {
            display: inline-block;
            vertical-align: -0.125em;
        }
    </style>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/css/daterangepicker.min.css}" rel="stylesheet"/>
    <link th:href="@{/hAdmin/css/style.css?v=4.1.0}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <!-- 添加考试表单 -->
        <main style="margin-top: 10px" role="main" class="col align-self-center">
            <form th:action="${exam != null ? '/exam/editExam':'/exam/addExam'}" method="post">
                <input type="hidden" th:value="${exam != null ? exam.id : ''}">
                <div class="form-group">
                    <label for="exampleInputTitle">考试标题</label>
                    <input th:value="${exam != null ? exam.title : ''}" name="title" type="text" class="form-control"
                           id="exampleInputTitle">
                </div>
                <div class="form-group">
                    <label for="exampleInputTime">考试时间</label>
                    <input th:value="${exam != null ? exam.beginTime + ' - ' + exam.endTime : ''}" id="exampleInputTime"
                           class="form-control" name="datetimes" type="text">
                </div>
                <div class="form-group">
                    <label for="exampleInputLength">考试时长（分钟）</label>
                    <input th:value="${exam != null ? exam.length : ''}" name="length" type="text" class="form-control"
                           id="exampleInputLength">
                </div>
                <div class="form-group form-check">
                    <input th:value="${exam != null ? exam.isCheck : ''}" name="isCheck" type="checkbox"
                           class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">是否开启监控</label>
                </div>
                <div th:if="${message != null}" class="alert alert-danger" role="alert">
                    [[${message}]]
                </div>
                <button type="submit" class="btn btn-primary">[[${exam != null ? '修改' : '添加考试'}]]</button>
            </form>
        </main>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/zh-cn.js}"></script>
<script th:src="@{/js/daterangepicker.min.js}"></script>
<script>
    var getTimeDifference = function (startDate, endDate) {
        // 计算出时间差的毫秒数
        var date3 = endDate.getTime() - startDate.getTime()
        // 计算出相差天数
        var days = Math.floor(date3 / (24 * 3600 * 1000))
        // 计算出小时数
        var leave1 = date3 % (24 * 3600 * 1000)
        var hours = Math.floor(leave1 / (3600 * 1000))
        // 计算出相差分钟数
        var leave2 = leave1 % (3600 * 1000)
        var minutes = Math.floor(leave2 / (60 * 1000))
        // 相差总分钟
        var res = days * 24 * 60 + hours * 60 + minutes
        return res
    }
    $(function () {
        // 日期选择器显示
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            timePickerSeconds: false,
            timePicker24Hour: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm:ss',
            }
        }, function (start, end, label) {
            // 回调函数-自动计算出时间长度（单位：分钟）
            var res = getTimeDifference(new Date(start.format('YYYY-MM-DD HH:mm:ss'))
                , new Date(end.format('YYYY-MM-DD HH:mm:ss')));
            $('#exampleInputLength').val(res)
        });
    });
</script>
</body>
</html>