<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>考试相关导航栏</title>
</head>
<body>
<ul th:if="${#session.getAttribute('isAdmin')}" th:fragment="examNav(activeUrl, examId)" class="nav nav-tabs">
    <li th:class="${activeUrl == 'problemlist' ? 'active' : 'nav-item'}">
        <a th:href="@{${activeUrl == 'problemlist' ? '#' : '/exam/toProblemList/' + examId}}">题目列表</a>
    </li>
    <li th:class="${activeUrl == 'submitCondition' ? 'active' : 'nav-item'}">
        <a th:href="@{${activeUrl == 'submitCondition' ? '#' : '/exam/toStateList/' + examId + '/1'}}">提交情况</a>
    </li>
    <li th:class="${activeUrl == 'studentlist' ? 'active' : 'nav-item'}">
        <a th:href="@{${activeUrl == 'studentlist' ? '#' : '/exam/toStudentList/' + examId}}">考生列表</a>
    </li>
    <li th:class="${activeUrl == 'ranking' ? 'active' : 'nav-item'}">
        <a th:href="@{${activeUrl == 'ranking' ? '#' : '/exam/toRanking/' + examId}}">排名</a>
    </li>
</ul>
</body>
</html>