<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>左侧导航栏</title>
</head>
<body>

<nav th:fragment="leftNav(isAdmin)" class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" th:href="@{/index.html}">
                        <span class="clear">
                            <span class="block m-t-xs" style="font-size:20px;">
                                <i class="fa fa-bank"></i>
                                <strong class="font-bold">三明学院</strong>
                            </span>
                        </span>
                    </a>
                </div>
            </li>
            <!-- 考试导航栏 -->
            <li>
                <a href="#">
                    <i class="fa fa fa-book"></i>
                    <span class="nav-label">考试</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" th:href="@{/exam/examList}">考试列表</a>
                    </li>
                    <li th:if="${isAdmin}">
                        <a class="J_menuItem" th:href="@{/exam/addExam.html}">添加考试</a>
                    </li>
                </ul>
            </li>
            <li class="line dk"></li>
            <!-- 题库导航栏 -->
            <li th:if="${isAdmin}">
                <a href="#">
                    <i class="fa fa fa-cube"></i>
                    <span class="nav-label">题库</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a th:href="@{'/bank/getAllProblem/1?type=completion'}"
                           class="J_menuItem">填空题集</a>
                    </li>
                    <li>
                        <a th:href="@{'/bank/getAllProblem/1?type=programme'}"
                           class="J_menuItem">编程填空题集</a>
                    </li>
                    <li>
                        <a th:href="@{/exam/questionBank/addQuestion.html}" class="J_menuItem">添加题目</a>
                    </li>
                </ul>
            </li>
            <li class="line dk"></li>
        </ul>
    </div>
</nav>
</body>
</html>