<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>学生列表</title>
    <link rel="icon" th:href="@{/favicon.ico}">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/hAdmin/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/hAdmin/css/style.css?v=4.1.0}" rel="stylesheet">
    <link th:href="@{/css/mycss.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <!-- 详细内容展示 -->
        <main style="margin-top: 10px" role="main" class="col align-self-center">
            <!-- 引入考试相关导航 -->
            <div th:replace="~{navigation/examNav :: examNav('studentlist', ${examId})}"></div>
            <!-- 搜索栏 -->
            <div class="ibox-content">
                <form style="margin-top: 10px" role="form" class="form-inline">
                    <div class="form-group mx-sm-3">
                        <label class="sr-only">班级</label>
                        <select id="className_select" class="form-control class_name_select">
                            <option>[[${selectClassName}]]</option>
                            <option th:each="className:${classNames}">[[${className}]]</option>
                        </select>
                    </div>
                    <div class="form-group mx-sm-3">
                        <label class="sr-only">模糊搜索</label>
                        <input id="keyword_input" th:value="${keyword}" type="text" class="form-control"
                               placeholder="请输入学生学号或姓名">
                    </div>
                    <div class="form-group mx-sm-3">
                        <button onclick="queryRecord()" class="btn btn-primary" type="button">搜索</button>
                    </div>
                </form>
            </div>
            <!-- 学生列表 -->
            <div style="margin-top: 20px">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">考生姓名</th>
                        <th scope="col">班级</th>
                        <th scope="col">进入考试时间</th>
                        <th scope="col">填空题提交时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="record:${examRecords}">
                        <td>[[${record.userId}]] [[${record.userName}]]</td>
                        <td>[[${record.className}]]</td>
                        <td>[[${#dates.listFormat(record.beginTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                        <td>[[${#dates.listFormat(record.submitTime, 'yyyy-MM-dd HH:mm:ss')}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.1/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    /**
     * 查询题目
     */
    const queryRecord = function () {
        let keyword = $("#keyword_input").val();
        let selected = $("#className_select").children('option:selected').val();
        let pathName = window.location.pathname;
        if (keyword != null && keyword != "" && selected != null && selected != "") {
            window.location.href = pathName + "?selectClassName=" + selected + "&keyword=" + keyword;
        } else if (selected != null && selected != "") {
            window.location.href = pathName + "?selectClassName=" + selected;
        } else if (keyword != null && keyword != "") {
            window.location.href = pathName + "?keyword=" + keyword;
        } else {
            window.location.href = pathName;
        }
    };

    /**
     * 页面初始化
     */
    $(document).ready(function () {
        $("#className_select").change(function () {
            queryRecord()
        });
    })
</script>
</body>
</html>